.password {
    padding: 20px;
    transition: 0.3s background;
}

.password:hover {
    background: #00000011;
    cursor: pointer;
}

.password:focus {
    background: #00000019;
}

.password_entry_var {
    padding: 10px;
    display: inline-table;
    width: 100%;
    box-sizing: border-box;
}

.password_entry_var_val {
    float: right;
    border: none;
    text-align: right;
    font-size: 16px;
}

.password_password {
    float: right;
}

.password_icon {
    width: 16px;
    margin-right: 5px;
}

.button {
    padding: 10px 22px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #00000033;
    transition: 0.3s box-shadow;
    text-align: center;
    user-select: none;
    border: none;
    text-decoration: none;
    background: #4542f4;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

#add_button {
}

#passwords {
    margin-top: 50px;
}

#alert_preview {
    width: 222px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

#forgot_password, #random_password {
    width: 100%;
    text-align: right;
    display: block;
    color: #4542f4;
    cursor: pointer;
}

#snackbar {
    z-index: 1000000000000000000;
}

.alert_title {
    text-align: center;
    width: calc(100% - 100px);
}

.round_button_icon {
    padding: 6px;
    border-radius: 40px;
    font-size: 27px;
    cursor: pointer;
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
}

.round_button_icon:hover {
    background: #00000011;
}

#settings_button {
    float: right;
}

.settings_alert_button {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.settings_alert_button:hover {
    background: #00000011;
}

#random_password_out {
    font-size: 20px;
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 2px;
}

.alert_contents {
    overflow-x: auto;
}

@media screen and (max-width: 720px) {
    .alert_contents {
        height: 100%;
        width: 390px;
        margin: auto;
    }

    .alert_alert {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .alert_contents {
        width: 300px;
    }
}